$all-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$fade-linear-transition: opacity 200ms linear !default;
$md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$border-transition-base: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$color-transition-base: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: $fade-linear-transition;
}
.fade-in-linear-enter-from,
.fade-in-linear-leave-from,
.fade-in-linear-leave-active {
  opacity: 0;
}

.rol-fade-in-linear-enter-active,
.rol-fade-in-linear-leave-active {
  transition: $fade-linear-transition;
}
.rol-fade-in-linear-enter-from,
.rol-fade-in-linear-leave-from,
.rol-fade-in-linear-leave-active {
  opacity: 0;
}

.rol-fade-in-enter-active,
.rol-fade-in-leave-active {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rol-fade-in-enter-from,
.rol-fade-in-leave-active {
  opacity: 0;
}

.rol-notification-fade-enter-from {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.rol-notification-fade-leave-active {
  opacity: 0;
}

.rol-message-fade-enter-from,
.rol-message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%,-100%) !important;
}


.rol-zoom-in-center-enter-active,
.rol-zoom-in-center-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.rol-zoom-in-center-enter-from,
.rol-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}