@include bem(picker) {
  @include e(popper) {
    &[role='tooltip'] {
      padding: 0px;
      box-shadow: $box-shadow-light;
    }
    &.is-light[role='tooltip'] {
      border: solid 1px $datepicker-border-color;
      .rol-popper__arrow::before {
        border: solid 1px $datepicker-border-color;
      }
    }
  }
}

// @include bem(date)
