.button-wrapper-class {
  .rol-row {
    .rol-button {
      margin: 5px;
    }

    .rol-buttons {
      .rol-button {
        margin: 0;
      }
    }
  }
}

.icon-wrapper-class {
  .rol-row {
    .rol-icon {
      font-size: 26px;
      margin: 5px;
    }
  }
}

.grid-wrapper-class {
  .rol-row {
    margin: 5px;
  }

  .content-col {
    @apply rounded h-12 flex justify-center items-center text-white text-2xl font-extrabold;
  }
}
