.button-wrapper-class {
  .rol-row {
    .rol-button {
      margin: 5px;
    }

    .rol-buttons {
      .rol-button {
        margin: 0;
      }
    }
  }
}

.icon-wrapper-class {
  .rol-row {
    .rol-icon {
      font-size: 26px;
      margin: 5px;
    }
  }
}

.grid-wrapper-class {
  .rol-row {
    margin: 5px;
  }

  .content-col {
    @apply rounded h-12 flex justify-center items-center text-white text-2xl font-extrabold;
  }
}

.layout-wrapper-class {
  .rol-header,
  .rol-footer,
  .rol-aside,
  .rol-main {
    @apply flex justify-center items-center text-white text-2xl font-extrabold;
  }

  .rol-main {
    @apply h-64;
  }

  .rol-container {
    margin-bottom: 40px;
  }

  .rol-container:nth-child(5) .rol-aside,
  .rol-container:nth-child(6) .rol-aside {
    @apply h-80;
  }

  .rol-container:nth-child(7) .rol-aside {
    @apply h-96;
  }
}

.input-wrapper-class {
  .rol-input {
    @apply max-w-xl m-2;
  }

  .input-with-select .rol-input-group__prepend {
    background-color: #fff;
  }
}

.time-picker-demo-wrapper {
  .rol-date-editor + .rol-date-editor {
    @apply ml-2;
  }
}
