$checkbox-font-size: 14px !default;
$checkbox-font-weight: $weight-medium !default;
$checkbox-font-color: $text !default;
$checkbox-input-height: 14px !default;
$checkbox-input-width: 14px !default;
$checkbox-border-radius: $radius-small !default;
$checkbox-background-color: $white !default;
$checkbox-input-border: 1px solid $border !default;
$checkbox-disabled-border-color: $border !default;
$checkbox-disabled-input-fill: $background !default;
$checkbox-disabled-icon-color: $grey-lighter !default;
$checkbox-disabled-checked-input-fill: $background !default;
$checkbox-disabled-checked-input-border-color: $grey-lighter !default;
$checkbox-disabled-checked-icon-color: $grey-lighter !default;
$checkbox-checked-font-color: $link !default;
$checkbox-checked-input-border-color: $link !default;
$checkbox-checked-background-color: $link !default;
$checkbox-checked-icon-color: $white !default;
$checkbox-input-border-color-hover: $link !default;
$checkbox-bordered-height: 40px !default;
$checkbox-bordered-padding: 9px 20px 9px 10px !default;
$checkbox-bordered-medium-padding: 7px 20px 7px 10px !default;
$checkbox-bordered-small-padding: 5px 15px 5px 10px !default;
$checkbox-bordered-mini-padding: 3px 15px 3px 10px !default;
$checkbox-bordered-medium-input-height: 14px !default;
$checkbox-bordered-medium-input-width: 14px !default;
$checkbox-bordered-medium-height: 36px !default;
$checkbox-bordered-small-input-height: 12px !default;
$checkbox-bordered-small-input-width: 12px !default;
$checkbox-bordered-small-height: 32px !default;
$checkbox-bordered-mini-input-height: 12px !default;
$checkbox-bordered-mini-input-width: 12px !default;
$checkbox-bordered-mini-height: 28px !default;
$checkbox-button-checked-background-color: $link !default;
$checkbox-button-checked-font-color: $white !default;
$checkbox-button-checked-border-color: $link !default;

@include bem(checkbox) {
  color: $checkbox-font-color;
  font-weight: $checkbox-font-weight;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px;

  @include when(bordered) {
    padding: $checkbox-bordered-padding;
    border-radius: $radius;
    border: 1px solid $border;
    box-sizing: border-box;
    line-height: normal;
    height: $checkbox-bordered-height;
    &.is-checked {
      border-color: $link;
    }
    &.is-disabled {
      border-color: $border-light;
      cursor: not-allowed;
    }

    & + .rol-checkbox.is-disabled {
      margin-left: 10px;
    }

    &.el-checkbox-medium {
      padding: $checkbox-bordered-medium-padding;
      border-radius: $radius;
      height: $checkbox-bordered-medium-height;

      .rol-checkbox__label {
        line-height: 17px;
        font-size: $font-size-base;
      }
      .rol-checkbox__inner {
        height: $checkbox-bordered-medium-input-height;
        width: $checkbox-bordered-medium-input-width;
      }
    }

    &.rol-checkbox--small {
      padding: $checkbox-bordered-small-padding;
      border-radius: $radius-small;
      height: $checkbox-bordered-small-height;

      &.rol-checkbox__label {
        line-height: 15px;
        font-size: $font-size-small;
      }
      .rol-checkbox__inner {
        height: $checkbox-bordered-small-input-height;
        width: $checkbox-bordered-small-input-width;

        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }
    &.rol-checkbox--mini {
      padding: $checkbox-bordered-mini-padding;
      border-radius: $radius-small;
      height: $checkbox-bordered-mini-height;
      .rol-checkbox__label {
        line-height: 12px;
        font-size: 12px;
      }
      .rol-checkbox__inner {
        height: $checkbox-bordered-mini-input-height;
        width: $checkbox-bordered-mini-input-width;
        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }
  }
  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    @include when(disabled) {
      .rol-checkbox__inner {
        background-color: $checkbox-disabled-input-fill;
        border-color: $checkbox-disabled-border-color;
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          border-color: $checkbox-disabled-checked-icon-color;
        }
        & + .rol-checkbox__label {
          cursor: not-allowed;
        }
      }
      &.is-checked {
        .rol-checkbox__inner {
          background-color: $checkbox-disabled-input-fill;
          border-color: $checkbox-disabled-border-color;
          &::after {
            border-color: $checkbox-disabled-checked-icon-color;
          }
        }
      }
      &.is-indeterminate {
        .rol-checkbox__inner {
          background-color: $checkbox-disabled-checked-input-fill;
          border-color: $checkbox-disabled-checked-input-border-color;

          &::before {
            background-color: $checkbox-disabled-checked-icon-color;
            border-color: $checkbox-disabled-checked-icon-color;
          }
        }
      }
      & + .rol-checkbox__label {
        color: $grey-light;
        cursor: not-allowed;
      }
    }
    @include when(checked) {
      .rol-checkbox__inner {
        background-color: $checkbox-checked-background-color;
        border-color: $checkbox-checked-input-border-color;

        &::after {
          transform: rotate(45deg) scaleY(1);
        }
      }
      & + .el-checkbox__label {
        color: $checkbox-checked-font-color;
      }
    }
    @include when(focus) {
      .rol-checkbox__inner {
        border-color: $checkbox-input-border-color-hover;
      }
    }
    @include when(indeterminate) {
      .rol-checkbox__inner {
        background-color: $checkbox-checked-background-color;
        border-color: $checkbox-checked-input-border-color;

        &::before {
          content: '';
          position: absolute;
          display: block;
          background-color: $checkbox-checked-icon-color;
          height: 2px;
          transform: scale(0.5);
          left: 0;
          right: 0;
          top: 5px;
        }
        &::after {
          display: none;
        }
      }
    }
  }
  @include e(inner) {
    display: inline-block;
    position: relative;
    border: $checkbox-input-border;
    border-radius: $checkbox-border-radius;
    box-sizing: border-box;
    width: $checkbox-input-width;
    height: $checkbox-input-height;
    background-color: $checkbox-background-color;
    z-index: 2000;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    &:hover {
      border-color: $checkbox-input-border-color-hover;
    }
    &::after {
      box-sizing: content-box;
      content: '';
      border: 1px solid $checkbox-checked-icon-color;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 3px;
      transition: transform 0.15s ease-in 0.05s;
      transform-origin: center;
    }
  }
  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }
  @include e(label) {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: $checkbox-font-size;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

@include bem(checkbox-button) {
  &.rol-button:focus:not(:active),
  &.rol-button.is-focused:not(:active) {
    box-shadow: none;
  }
  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
  }
  &.is-checked {
    color: $white;
    background-color: $link;
    border-color: $link;
    box-shadow: -1px 0 0 0 $grey-lighter;
  }
}

