$select-border-color-hover: $border-hover !default;
$select-disabled-border: $border-light !default;
//fontSize||Font|1
$select-font-size: $font-size-base !default;
$select-close-hover-color: $grey !default;
$select-input-color: $grey-light !default;
$select-multiple-input-color: #666 !default;
// color||Color|0
$select-input-focus-border-color: $info !default;
// fontSize||Font|1
$select-input-font-size: 14px !default;
$select-option-color: $text !default;
$select-option-disabled-color: $grey-light !default;
$select-option-disabled-background: $white !default;
// height||Other|4
$select-option-height: 34px !default;
$select-option-hover-background: $background !default;
// color||Color|0
$select-option-selected-font-color: $info !default;
$select-option-selected-hover: $background !default;
$select-dropdown-background: $white !default;
$select-dropdown-shadow: $box-shadow-light !default;
$select-dropdown-empty-color: #999 !default;
/// height||Other|4
$select-dropdown-max-height: 274px !default;
$select-dropdown-padding: 6px 0 !default;
$select-dropdown-empty-padding: 10px 0 !default;
$select-dropdown-border: solid 1px $border-light !default;

@import './select-dropdown';
@import './select';
