@include bem(select) {
  display: inline-block;
  position: relative;
  .rol-select__tags {
    > span {
      display: inline-block;
    }
  }
  &:hover {
    .rol-input__inner {
      border-color: $--select-border-color-hover;
    }
  }
}
