$datepicker-font-color: $text !default;
$datepicker-off-font-color: $text-light !default;
$datepicker-header-font-color: $text !default;
$datepicker-icon-color: $text !default;
$datepicker-border-color: $border-light !default;
$datepicker-inner-border-color: $grey-lighter !default;
$datepicker-inrange-background-color: $background !default;
$datepicker-inrange-hover-background-color: $background !default;
$datepicker-active-color: $link !default;
$datepicker-hover-font-color: $link !default;
$datepicker-cell-hover-color: $white !default;
